# Objective: #
This study aims to show the general lines of the tax system adopted presently in the analized countries in order to see where the money of the public budget comes from, taxwise.

# Analized Countries: #
Brazil, Russia, India, China, S. Africa, EUA, Canada, Mexico, Argentina, Germany, Israel, France, Portugal, Spain, Poland, UK, Cingapore, Japan, Vietnam.

# Disclaimer:  #
Many of the countries analyzed have different tax systems and specificities what makes a perfectly equal comparison almost imposible (if not). That does not invalid comparison between them in a macro level.
        
# Sources: #
- www.tradingeconomics.com  
- www.taxfoundation.org  
- www.wikipedia.com  
- www.valorinveste.globo.com  
- www.contabilizei.com.br  
- www.oecd.org  
- www.worldbank.org  
- www2.deloitte.com/content/dam/Deloitte/cn/Documents/international-business-support/deloitte-cn-ibs-canada-int-tax-en-2018.pdf 
- https://www2.deloitte.com/content/dam/Deloitte/global/Documents/Tax/dttl-tax-southafricaliahighlights-2020.pdf
- https://www.sars.gov.za/TaxTypes/DT/Pages/default.aspx
- https://home.kpmg/xx/en/home/insights/2011/12/vietnam-income-tax.html
- https://www2.deloitte.com/content/dam/Deloitte/global/Documents/Tax/dttl-tax-vietnamhighlights-2020.pdf
- https://taxsummaries.pwc.com/vietnam/individual/taxes-on-personal-income
- https://taxsummaries.pwc.com/argentina/individual/income-determination
- https://www2.deloitte.com/content/dam/Deloitte/ar/Documents/tax/dttl-tax-argentinahighlights-2019.pdf
- https://taxsummaries.pwc.com/russian-federation/individual/taxes-on-personal-income
- https://www2.deloitte.com/content/dam/Deloitte/us/Documents/Tax/us-tax-ice-country-highlights-russia.pdf
- https://www.iras.gov.sg/IRASHome/Individuals/Locals/Working-Out-Your-Taxes/What-is-Taxable-What-is-Not/Dividends/
- https://www.guidemesingapore.com/business-guides/taxation-and-accounting/introduction-to-taxation/singapore-tax-system-and-tax-rates#:~:text=Singapore%20follows%20a%20single%2Dtier,22%25%20for%20non%2Dresidents.
- https://www.pwc.com/mu/en/services/india-desk/india-ddt-tax.html
- https://cleartax.in/s/how-dividends-taxable#:~:text=Answer%3A%20In%20India%2C%20a%20company,is%20liable%20for%20the%20tax.
- https://www2.deloitte.com/content/dam/Deloitte/global/Documents/Tax/dttl-tax-chinahighlights-2020.pdf?nc=1
- https://taxsummaries.pwc.com/peoples-republic-of-china/individual/taxes-on-personal-income
- https://valorinveste.globo.com/blogs/andre-rocha/post/2020/07/governo-quer-baixar-impostos-das-empresas-mas-taxar-dividendos-qual-e-o-efeito-na-acao.ghtml
- http://legis.senado.leg.br/sdleg-getter/documento/download/6401fcab-b629-4f14-a140-2f39bc023e81

________________________

**Nota Pessoal:**
- Fazer um heatmap mostrando a regressividade dos sistemas de taxação.

In [295]:
import pandas as pd

In [296]:
#Creating dataframes and reading excel files.
corp_tax = pd.read_excel('List of Countries by Corporate Tax Rate.xls')
divdnd_tax = pd.read_excel('tax profits and dividends oecd 2020.xls', header=1)
pax_tax = pd.read_excel('List of Countries by Personal Income Tax Rate.xls')
sales_tax = pd.read_excel('List of Countries by Sales Tax Rate.xls')

In [297]:
#Creating list of analizes countries.
countries = ['Brazil', 'Russia', 'India', 'China', 'South Africa', 'United States', 'Canada', 'Mexico', 'Argentina', 'Germany', 'Israel', 'France', 'Portugal', 'Spain', 'Poland', 'United Kingdom', 'Singapore', 'Japan', 'Vietnam']

**Treating corp_tax:**

In [298]:
corp_tax

                            Country  Last
0    Afghanistan Corporate Tax Rate  20.0
1        Albania Corporate Tax Rate  15.0
2        Algeria Corporate Tax Rate  26.0
3         Angola Corporate Tax Rate  30.0
4      Argentina Corporate Tax Rate  25.0
..                              ...   ...
158    Venezuela Corporate Tax Rate  34.0
159      Vietnam Corporate Tax Rate  20.0
160        Yemen Corporate Tax Rate  20.0
161       Zambia Corporate Tax Rate  35.0
162     Zimbabwe Corporate Tax Rate  25.0

[163 rows x 2 columns]

In [299]:
#Excluding the phrase 'Corporate Tax Rate' from the 'Country' column on corp_tax df to leave just the names of the countries.
corp_tax.Country = corp_tax.Country.apply(lambda x: x.replace(' Corporate Tax Rate', ''))

In [300]:
#Change the name of the 'Last' column.
corp_tax.rename(columns={'Last':'Corporate Tax'}, inplace=True)

In [301]:
#Creating final df with only the selected countries and reseting index.
corp_tax_final = corp_tax[corp_tax['Country'].isin(countries)]

In [302]:
corp_tax_final.reset_index(drop=True, inplace=True)
corp_tax_final

           Country  Corporate Tax
0        Argentina          25.00
1           Brazil          34.00
2           Canada          26.50
3            China          25.00
4           France          28.00
5          Germany          30.00
6            India          25.17
7           Israel          23.00
8            Japan          30.62
9           Mexico          30.00
10          Poland          19.00
11        Portugal          21.00
12          Russia          20.00
13       Singapore          17.00
14    South Africa          28.00
15           Spain          25.00
16  United Kingdom          19.00
17   United States          21.00
18         Vietnam          20.00

**Treating divdnd_tax:**  

Disclaimer: For this study we are considering specially the local shareholders individuals.

In [303]:
divdnd_tax.head()

     Country    tax
0     Canada  26.44
1    Ireland  12.50
2  Australia  30.00
3      Korea  27.50
4    Denmark  22.00

In [304]:
#Renaming 'tax' column.
divdnd_tax.rename(columns={'tax':'Dividend Tax'}, inplace=True)
divdnd_tax

            Country  Dividend Tax
0            Canada     26.440000
1           Ireland     12.500000
2         Australia     30.000000
3             Korea     27.500000
4           Denmark     22.000000
5        Luxembourg     24.940000
6            Mexico     30.000000
7             Chile     25.000000
8            Turkey     22.000000
9    United Kingdom     19.000000
10          Finland     20.000000
11           France     32.023000
12           Israel     23.000000
13      New Zealand     28.000000
14           Norway     22.000000
15          Belgium     29.000000
16           Sweden     21.400000
17    United States     25.766571
18         Portugal     31.500000
19          Austria     25.000000
20         Slovenia     19.000000
21          Germany     29.897059
22            Italy     24.000000
23      Netherlands     25.000000
24            Spain     25.000000
25      Switzerland     21.148581
26          Iceland     20.000000
27            Japan     29.740000
28           Poland     19.000000
29   Czech Republic     19.000000
30          Hungary      9.000000
31          Estonia     20.000000
32  Slovak Republic     21.000000
33           Greece     24.000000
34           Latvia     20.000000
35        Lithuania     15.000000

In [305]:
#Defining function to change the numbers to two decimals.
def two_decimals(number):
    return round(number, ndigits=2)

In [306]:
#Applying the function above.
divdnd_tax['Dividend Tax'] = divdnd_tax['Dividend Tax'].apply(lambda x: two_decimals(x))
divdnd_tax

            Country  Dividend Tax
0            Canada         26.44
1           Ireland         12.50
2         Australia         30.00
3             Korea         27.50
4           Denmark         22.00
5        Luxembourg         24.94
6            Mexico         30.00
7             Chile         25.00
8            Turkey         22.00
9    United Kingdom         19.00
10          Finland         20.00
11           France         32.02
12           Israel         23.00
13      New Zealand         28.00
14           Norway         22.00
15          Belgium         29.00
16           Sweden         21.40
17    United States         25.77
18         Portugal         31.50
19          Austria         25.00
20         Slovenia         19.00
21          Germany         29.90
22            Italy         24.00
23      Netherlands         25.00
24            Spain         25.00
25      Switzerland         21.15
26          Iceland         20.00
27            Japan         29.74
28           Poland         19.00
29   Czech Republic         19.00
30          Hungary          9.00
31          Estonia         20.00
32  Slovak Republic         21.00
33           Greece         24.00
34           Latvia         20.00
35        Lithuania         15.00

In [307]:
#Selecting only the countries within 'countries' list.
divdnd_tax_final = divdnd_tax[divdnd_tax['Country'].isin(countries)].reset_index(drop=True)

In [308]:
divdnd_tax_final

           Country  Dividend Tax
0           Canada         26.44
1           Mexico         30.00
2   United Kingdom         19.00
3           France         32.02
4           Israel         23.00
5    United States         25.77
6         Portugal         31.50
7          Germany         29.90
8            Spain         25.00
9            Japan         29.74
10          Poland         19.00

In [309]:
#Checking which countries are not in the dataframe.
#Personal Note: Observe that I had to use the method 'set' so Python would allow me to subtract one group from the other.
missing_countries = list(set(countries) - set(divdnd_tax_final['Country']))
missing_countries

['South Africa',
 'Vietnam',
 'Argentina',
 'Russia',
 'Singapore',
 'India',
 'China',
 'Brazil']

In [310]:
#Creating dict with the sources mentioned on the beggining.
missing_countries = {'Country':['South Africa', 'Vitenam', 'Argentina', 'Russia', 'Singapore', 'India', 'China', 'Brazil'], 'Dividend Tax':[20,5,13,13,0,10,20,0]}

In [311]:
#Creating dataframe.
missing_countries = pd.DataFrame(missing_countries)

In [312]:
#Concatenating the two df´s.
divdnd_tax_final = pd.concat([divdnd_tax_final, missing_countries])

In [316]:
# Ordering df by country name and reseting index.
divdnd_tax_final.sort_values('Country', inplace=True)
divdnd_tax_final.reset_index(drop=True, inplace=True)
divdnd_tax_final

           Country  Dividend Tax
0        Argentina         13.00
1           Brazil          0.00
2           Canada         26.44
3            China         20.00
4           France         32.02
5          Germany         29.90
6            India         10.00
7           Israel         23.00
8            Japan         29.74
9           Mexico         30.00
10          Poland         19.00
11        Portugal         31.50
12          Russia         13.00
13       Singapore          0.00
14    South Africa         20.00
15           Spain         25.00
16  United Kingdom         19.00
17   United States         25.77
18         Vitenam          5.00

**Treating pax_tax**